<div class="events">


		<% @posts.each do |post| %>

			<div class="eventfooter painted">
				<%= link_to "http://www.charlottegetoffthecouch.com/" do %><%= image_tag 'plugs-signup.png', :class => "footer-icon" %><% end %></br>
				<div class="fb-like" data-href="http://www.charlottegetoffthecouch.com/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div></br>
				<a href="https://twitter.com/intent/tweet" class="twitter-hashtag-button" data-text="Charlotte Get Off The Couch " data-url="http://www.charlottegetoffthecouch.com/" data-related="getplugs" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></br>
				<%= link_to "Built by Chicken Coop Call Center".html_safe, "http://www.chickencoop.cc/", :target => "_blank" %>
			</div>

			
			<h1 class="eventheader"> <span>Charlotte</span></br>Get off the couch and <%= link_to post.title, post.link, :target => "_blank" %></h1> 



			<div class="eventbutton">
				<% if post.tag == "Art" %>
					<% if @random < 5  %>
						<%= link_to "I'm trying to hear some music", music_path %>
					<% elsif @random < 10 %>
						<%= link_to "I like to eat", food_path %>
					<% elsif @random < 15 %>
						<%= link_to "What about the night life?", nightlife_path %>
					<% elsif @random < 20 %>
						<%= link_to "Looking to grab a drink", drinks_path %>
					<% elsif @random < 25 %>
						<%= link_to "I'll rather do something outdoors", outdoors_path %>
					<% elsif @random < 30 %>
						<%= link_to "What about sports?", sports_path %>
					<% elsif @random < 35 %>
						<%= link_to "Trying to catch some entertainment", theatre_path %>
					<% elsif @random < 40 %>
						<%= link_to "Tyring to get active", fitness_path %>						
					<% else %>
						<%= link_to "Let's do it for the culture", culture_path %>						
					<% end %>
				<% elsif post.tag == "Music" %> 
					<% if @random < 5  %>
						<%= link_to "Trying to make art moves", art_path %>
					<% elsif @random < 10 %>
						<%= link_to "I like to eat", food_path %>
					<% elsif @random < 15 %>
						<%= link_to "What about the night life?", nightlife_path %>
					<% elsif @random < 20 %>
						<%= link_to "Looking to grab a drink", drinks_path %>
					<% elsif @random < 25 %>
						<%= link_to "I'll rather do something outdoors", outdoors_path %>
					<% elsif @random < 30 %>
						<%= link_to "What about sports?", sports_path %>
					<% elsif @random < 35 %>
						<%= link_to "Trying to catch some entertainment", theatre_path %>
					<% elsif @random < 40 %>
						<%= link_to "Tyring to get active", fitness_path %>								
					<% else %>
						<%= link_to "Let's do it for the culture", culture_path %>	
					<% end %>
				<% elsif post.tag == "Food" %> 
					<% if @random < 5  %>
						<%= link_to "I'm trying to hear some music", root_path %>
					<% elsif @random < 10 %>
						<%= link_to "Trying to make art moves", pages_art_path %>
					<% elsif @random < 15 %>
						<%= link_to "What about the night life?", nightlife_path %>
					<% elsif @random < 20 %>
						<%= link_to "Looking to grab a drink", drinks_path %>
					<% elsif @random < 25 %>
						<%= link_to "I'll rather do something outdoors", outdoors_path %>
					<% elsif @random < 30 %>
						<%= link_to "What about sports?", sports_path %>
					<% elsif @random < 35 %>
						<%= link_to "Trying to catch some entertainment", theatre_path %>
					<% elsif @random < 40 %>
						<%= link_to "Tyring to get active", fitness_path %>							
					<% else %>
						<%= link_to "Let's do it for the culture", culture_path %>	
					<% end %>
				<% elsif post.tag == "Nightlife" %> 
					<% if @random < 5  %>
						<%= link_to "I'm trying to hear some music", root_path %>
					<% elsif @random < 10 %>
						<%= link_to "I like to eat", food_path %>
					<% elsif @random < 15 %>
						<%= link_to "Trying to make art moves", pages_art_path %>
					<% elsif @random < 20 %>
						<%= link_to "Looking to grab a drink", drinks_path %>
					<% elsif @random < 25 %>
						<%= link_to "I'll rather do something outdoors", outdoors_path %>
					<% elsif @random < 30 %>
						<%= link_to "What about sports?", sports_path %>
					<% elsif @random < 35 %>
						<%= link_to "Trying to catch some entertainment", theatre_path %>
					<% elsif @random < 40 %>
						<%= link_to "Tyring to get active", fitness_path %>							
					<% else %>
						<%= link_to "Let's do it for the culture", culture_path %>	
					<% end %>
				<% elsif post.tag == "Drinks" %> 
					<% if @random < 5  %>
						<%= link_to "I'm trying to hear some music", root_path %>
					<% elsif @random < 10 %>
						<%= link_to "I like to eat", food_path %>
					<% elsif @random < 15 %>
						<%= link_to "What about the night life?", nightlife_path %>
					<% elsif @random < 20 %>
						<%= link_to "Trying to make art moves", pages_art_path %>
					<% elsif @random < 25 %>
						<%= link_to "I'll rather do something outdoors", outdoors_path %>
					<% elsif @random < 30 %>
						<%= link_to "What about sports?", sports_path %>
					<% elsif @random < 35 %>
						<%= link_to "Trying to catch some entertainment", theatre_path %>
					<% elsif @random < 40 %>
						<%= link_to "Tyring to get active", fitness_path %>						
					<% else %>
						<%= link_to "Let's do it for the culture", culture_path %>	
					<% end %>
				<% elsif post.tag == "Outdoors" %> 
					<% if @random < 5  %>
						<%= link_to "I'm trying to hear some music", root_path %>
					<% elsif @random < 10 %>
						<%= link_to "I like to eat", food_path %>
					<% elsif @random < 15 %>
						<%= link_to "What about the night life?", nightlife_path %>
					<% elsif @random < 20 %>
						<%= link_to "Looking to grab a drink", drinks_path %>
					<% elsif @random < 25 %>
						<%= link_to "Trying to make art moves", pages_art_path %>
					<% elsif @random < 30 %>
						<%= link_to "What about sports?", sports_path %>
					<% elsif @random < 35 %>
						<%= link_to "Trying to catch some entertainment", theatre_path %>
					<% elsif @random < 40 %>
						<%= link_to "Tyring to get active", fitness_path %>							
					<% else %>
						<%= link_to "Let's do it for the culture", culture_path %>	
					<% end %>
				<% elsif post.tag == "Sports" %> 
					<% if @random < 5  %>
						<%= link_to "I'm trying to hear some music", root_path %>
					<% elsif @random < 10 %>
						<%= link_to "I like to eat", food_path %>
					<% elsif @random < 15 %>
						<%= link_to "What about the night life?", nightlife_path %>
					<% elsif @random < 20 %>
						<%= link_to "Looking to grab a drink", drinks_path %>
					<% elsif @random < 25 %>
						<%= link_to "I'll rather do something outdoors", outdoors_path %>
					<% elsif @random < 30 %>
						<%= link_to "Trying to make art moves", pages_art_path %>
					<% elsif @random < 35 %>
						<%= link_to "Trying to catch some entertainment", theatre_path %>
					<% elsif @random < 40 %>
						<%= link_to "Tyring to get active", fitness_path %>							
					<% else %>
						<%= link_to "Let's do it for the culture", culture_path %>	
					<% end %>
				<% elsif post.tag == "Theatre" %> 
					<% if @random < 5  %>
						<%= link_to "I'm trying to hear some music", root_path %>
					<% elsif @random < 10 %>
						<%= link_to "I like to eat", food_path %>
					<% elsif @random < 15 %>
						<%= link_to "What about the night life?", nightlife_path %>
					<% elsif @random < 20 %>
						<%= link_to "Looking to grab a drink", drinks_path %>
					<% elsif @random < 25 %>
						<%= link_to "I'll rather do something outdoors", outdoors_path %>
					<% elsif @random < 30 %>
						<%= link_to "What about sports?", sports_path %>
					<% elsif @random < 35 %>
						<%= link_to "Trying to make art moves", pages_art_path %>
					<% elsif @random < 40 %>
						<%= link_to "Tyring to get active", fitness_path %>							
					<% else %>
						<%= link_to "Let's do it for the culture", culture_path %>	
					<% end %>
				<% elsif post.tag == "Fitness" %> 
					<% if @random < 5  %>
						<%= link_to "I'm trying to hear some music", root_path %>
					<% elsif @random < 10 %>
						<%= link_to "I like to eat", food_path %>
					<% elsif @random < 15 %>
						<%= link_to "What about the night life?", nightlife_path %>
					<% elsif @random < 20 %>
						<%= link_to "Looking to grab a drink", drinks_path %>
					<% elsif @random < 25 %>
						<%= link_to "I'll rather do something outdoors", outdoors_path %>
					<% elsif @random < 30 %>
						<%= link_to "What about sports?", sports_path %>
					<% elsif @random < 35 %>
						<%= link_to "Trying to make art moves", pages_art_path %>
					<% elsif @random < 40 %>
					<%= link_to "Trying to catch some entertainment", theatre_path %>						
					<% else %>
						<%= link_to "Let's do it for the culture", culture_path %>	
					<% end %>					
				<% else %> 
					<% if @random < 5  %>
						<%= link_to "I'm trying to hear some music", root_path %>
					<% elsif @random < 10 %>
						<%= link_to "I like to eat", food_path %>
					<% elsif @random < 15 %>
						<%= link_to "What about the night life?", nightlife_path %>
					<% elsif @random < 20 %>
						<%= link_to "Looking to grab a drink", drinks_path %>
					<% elsif @random < 25 %>
						<%= link_to "I'll rather do something outdoors", outdoors_path %>
					<% elsif @random < 30 %>
						<%= link_to "What about sports?", sports_path %>
					<% elsif @random < 35 %>
						<%= link_to "Trying to make art moves", pages_art_path %>
					<% elsif @random < 40 %>
						<%= link_to "Tyring to get active", fitness_path %>							
					<% else %>
						<%= link_to "Trying to catch some entertainment", theatre_path %>
					<% end %>
				<% end %>

				</div> 

			<div class="eventbutton2" onclick="myFunction()">I'll rather chill on the couch</div>
		
		<% end %>


</div>


<script>
function myFunction() {

	window.location.reload();
}
</script>